{% extends 'rcpapp/layout.html' %}
{% load widget_tweaks %}


{% block css %}
{% endblock %}

{% block top_buttons %}
<div class="d-flex flex-row justify-content-end flex-wrap gap-3">
	<form id="filter-form" 
        autocomplete="off"
        hx-get="{% url 'recipes' %}"
		hx-trigger="input from:[name='search'] delay:500ms, input from:[form='filter-form'], refresh.recipes from:body"
		hx-target="#table-holder" 
        hx-replace-url="true"
        >
        <div class="d-flex justify-content-end flex-wrap gap-3">
            <div class="shadow-sm input-icon">
                <span class="input-icon-addon">
                    <i class="ti ti-search ti-24"></i>
                </span>
                <input type="text" name="search" value="{{request.GET.search}}" class="form-control" placeholder="Search…" autocomplete="off">
            </div>
        </div>
	</form>
    <button class="btn btn-icon btn-primary" data-bs-toggle="offcanvas" href="#filters-offcanvas">
        <i class="ti ti-filter text-white m-0"></i>
    </button>
    <div class="vr"></div>
    <a 
        hx-get="{% url 'render_add_recipe_form' %}" 
        hx-target="#offcanvas"
        class="btn btn-primary">
        <i class="ti ti-plus text-white"></i>
        Add recipe
    </a>
</div>
{% endblock %}

{% block content %}
<div 
    id="table-holder"
    hx-get="{% url 'recipes' %}"
    hx-trigger="refresh.recipes from:body"
    hx-include="#page-input, #filter-form" 
>
    {% partialdef recipes_table inline=True %}
    {% url 'recipes' as render_url %}
    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter table-hover card-table table-striped table-sm">
                <thead id="table-head">
                    <input type="hidden" name="order_by" value="{{order_by}}" form="filter-form">
                    <tr>
                        <th class="w-1">{% include 'rcpapp/components/table_column_order_button.html' with col='id' col_name='#' url=render_url %}</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>{% include 'rcpapp/components/table_column_order_button.html' with col='carbohydrates' col_name='Carbs' url=render_url %}</th>
                        <th>{% include 'rcpapp/components/table_column_order_button.html' with col='sugars' col_name='Sugars' url=render_url %}</th>
                        <th>{% include 'rcpapp/components/table_column_order_button.html' with col='fatty_acids' col_name='Lipids' url=render_url %}</th>
                        <th>{% include 'rcpapp/components/table_column_order_button.html' with col='fatty_acids' col_name='Fatty acids' url=render_url %}</th>
                        <th>{% include 'rcpapp/components/table_column_order_button.html' with col='proteins' col_name='Proteins' url=render_url %}</th>
                        <th>{% include 'rcpapp/components/table_column_order_button.html' with col='fiber' col_name='Fiber' url=render_url %}</th>
                        <th>{% include 'rcpapp/components/table_column_order_button.html' with col='salt' col_name='Salt' url=render_url %}</th>
                        <th>{% include 'rcpapp/components/table_column_order_button.html' with col='calories' col_name='Calories' url=render_url %}</th>
                        <th class="w-1"></th>
                    </tr>
                </thead>
                <tbody class="table-tbody">
                    {% for recipe in page_obj.object_list %}
                    <tr>
                        <td>{{recipe.id}}</td>
                        <td>{{recipe.name}}</td>
                        <td>{{recipe.description|default:''}}</td>
                        <td>{{recipe.carbohydrates}}</td>
                        <td>{{recipe.sugars}}</td>
                        <td>{{recipe.lipids}}</td>
                        <td>{{recipe.fatty_acids}}</td>
                        <td>{{recipe.proteins}}</td>
                        <td>{{recipe.fiber}}</td>
                        <td>{{recipe.salt}}</td>
                        <td>{{recipe.calories}}</td>
                        <td>
                            <a href="{% url 'recipe' pk=recipe.id %}">Details</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="20" class="text-center text-muted">
                            No records found
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'rcpapp/components/pagination.html' with replace_url='true' %}
    </div>
    {% endpartialdef %}
</div>

<div class="offcanvas offcanvas-end" id="filters-offcanvas">
    <div class="offcanvas-header" role="dialog">
        <h2 class="offcanvas-title">Filter recipes</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12">
                {{filters_form.ingredient|attr:'form:filter-form'|render}}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}{% endblock %}


{% partialdef add_recipe_form %}
<div class="offcanvas-header">
    <h2 class="offcanvas-title">Add recipe</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
</div>
<div class="offcanvas-body">
    <form
        hx-post="{% url 'add_recipe' %}"
        hx-target="closest .offcanvas"
        autocomplete="off">
        <div class="row">
            <div class="col-12">
                {{form.name|render}}
            </div>
            <div class="col-12">
                {{form.description|render}}
            </div>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                <i class="ti ti-device-floppy fw-bold"></i> Save
            </button>
        </div>
    </form>
</div>
{% endpartialdef %}
